body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

video {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
