body {
  font-family: sans-serif;
  background-color: #74b2f8;
}

a {
  text-decoration: none;
  font-size: 20px;
}

label {
  display: block;
}
/* nav {
  background-color: #0b3968;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.camAndCanvas {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recBorder {
  border: 7px solid #ef476f;
}

canvas {
  position: absolute;
}

.buttonContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recordButton {
  padding: 15px;
}

.secondayButton {
  padding: 15px;
}

#textbox {
  height: 200px;
  width: 500px;
  font-size: 25px;
}
#start-btn {
  height: 50px;
  width: 50px;
}

/* .webcam-test {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 50vh;
  display: flex;
} */

.container {
  margin: 20px;
  display: grid;
}

.transcripts-div {
  border: solid black;
  height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}

.h1-transcripts {
  margin-left: 20px;
}

button {
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #64f58d;
  background: #011936;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #c5fd91;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #19a6dd;
  font-size: 20px;
}

/* .landing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  Padding: 20px;
} */

img.logo {
  width: 10vw;
  height: 10vh;
}

div.analytics,
p {
  margin-right: 6vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  /* background-color: #c5fd91; */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.containerLP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slogan {
  font-family: verdana;
  font-size: 400%;
  text-align: center;
  color: #c5fd91;
}

.recordings-title {
  text-align: center;
}
.card-text {
  text-align: center;
  font-size: 27px;
}
.card {
  margin: 0 auto;
  max-width: 80%;
  background-color: #64f58d;
}
.logo {
  margin-right: 50px;
  border-radius: 90%;
}
.navbar-brand {
  font-weight: bold;
}
canvas {
  margin: 0 auto;
}
.single-recoding-vid {
  margin: 0 auto;
  margin-bottom: 50px;
}
nav {
  background-color: #64f58d;
}
